<script lang="ts" setup>
import { ref } from "vue";
const number = ref(0);
</script>

<template>
  <v-container>
    <v-text-field
      label="Please input Number"
      placeholder="0"
      v-model.number="number"
      :rules="[(v) => !!v || 'Number is not empty']"
      required
    >
    </v-text-field>
  </v-container>
  <v-container>
    <v-row>
      <v-col cols="1" v-for="i in number" :key="i">{{ i }}</v-col>
    </v-row>
  </v-container>
</template>
