<script lang="ts" setup>
import { ref } from "vue";
import angry from "../../feeling_imgs/angry.png";
import cute from "../../feeling_imgs/cute.png";
import excited from "../../feeling_imgs/excited.png";
import pain from "../../feeling_imgs/pain.png";
import shocked from "../../feeling_imgs/shocked.png";
import smile from "../../feeling_imgs/smile.png";
const mood = ref("SMILE");
function onClick(fill: string) {
  mood.value = fill;
}
</script>
<template>
  <v-container>
    <v-row>
      <v-col>
        <v-img v-if="mood === 'ANGRY'" :src="angry" height="300px"></v-img>
        <v-img v-if="mood === 'CUTE'" :src="cute" height="300px"></v-img>
        <v-img v-if="mood === 'EXCITED'" :src="excited" height="300px"></v-img>
        <v-img v-if="mood === 'PAIN'" :src="pain" height="300px"></v-img>
        <v-img v-if="mood === 'SHOCKED'" :src="shocked" height="300px"></v-img>
        <v-img v-if="mood === 'SMILE'" :src="smile" height="300px"></v-img>
      </v-col>
      <v-col class="d-flex flex-column mb-6">
        <p class="text-center">{{ mood }}</p>
        <v-btn
          class="ma-2 pa-2"
          @click="onClick('ANGRY')"
          :color="mood === 'ANGRY' ? 'yellow' : ''"
          >ANGRY</v-btn
        >
        <v-btn
          class="ma-2 pa-2"
          @click="onClick('CUTE')"
          :color="mood === 'CUTE' ? 'yellow' : ''"
          >CUTE</v-btn
        >
        <v-btn
          class="ma-2 pa-2"
          @click="onClick('EXCITED')"
          :color="mood === 'EXCITED' ? 'yellow' : ''"
          >EXCITED</v-btn
        >
        <v-btn
          class="ma-2 pa-2"
          @click="onClick('PAIN')"
          :color="mood === 'PAIN' ? 'yellow' : ''"
          >PAIN</v-btn
        >
        <v-btn
          class="ma-2 pa-2"
          @click="onClick('SHOCKED')"
          :color="mood === 'SHOCKED' ? 'yellow' : ''"
          >SHOCKED</v-btn
        >
        <v-btn
          class="ma-2 pa-2"
          @click="onClick('SMILE')"
          :color="mood === 'SMILE' ? 'yellow' : ''"
          >SMILE</v-btn
        >
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped></style>
