<script lang="ts" setup>
import { ref } from "vue";

const products = ref(
  Array.from(Array(100).keys()).map((item) => {
    return {
      id: item,
      name: "Product " + (item + 1),
      price: (Math.floor(Math.random() * 100) + 1) * 10,
    };
  })
);

function add(item: y) {
  x.value.push(item);
  sum.value = sum.value + item.price;
}

const x = ref<y[]>([]);
interface y {
  id: number;
  name: string;
  price: number;
}

const sum = ref(0);
</script>

<template>
  <v-container>
    <v-row>
      <v-col cols="6">
        <v-col class="d-flex flex-wrap h-screen overflow-y-auto">
          <v-card
            v-for="item in products"
            :key="item.id"
            class="mx-auto v-col-4"
            max-width="344"
            variant="outlined"
          >
            <v-card-item>
              <div>
                <div class="text-h6 mb-1 text-center">
                  Product {{ item.id + 1 }}
                </div>
                <div class="text-caption text-center">{{ item.price }}</div>
              </div>
              <div class="text-center">
                <v-btn @Click="add(item)"> ADD </v-btn>
              </div>
            </v-card-item>
          </v-card>
        </v-col>
      </v-col>
      <v-col>
        <v-table height="300px">
          <thead>
            <tr>
              <th class="text-left">id</th>
              <th class="text-left">name</th>
              <th class="text-left">price</th>
            </tr>
          </thead>
          <tbody v-if="x.length > 0">
            <tr v-for="item of x" :key="item.id">
              <td>{{ item.id }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.price }}</td>
            </tr>
          </tbody>
          <tbody v-if="x.length === 0">
            <tr>
              <td class="text-center text-h6">No Data</td>
            </tr>
          </tbody>
        </v-table>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <h1>SUM: {{ sum }}</h1>
      </v-col>
    </v-row>
  </v-container>
</template>
