<script setup lang="ts">
import FirstComponent from "@/components/FirstComponent.vue";
import SecondComponent from "@/components/SecondComponent.vue";
import { useCounterStore } from "@/stores/counter";
const useCount = useCounterStore();
</script>
<template>
  <v-container>
    <v-row>
      <v-col cols="4">
        <FirstComponent></FirstComponent>
      </v-col>
      <v-col cols="4">
        <SecondComponent></SecondComponent>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-btn variant="outlined" @click="useCount.increment">
          INCREMENT
        </v-btn>
      </v-col>
      <v-col>
        <v-btn variant="outlined" @click="useCount.decrease"> DECREASE </v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>
