<script setup lang="ts">
import { ref } from "vue";
import { useCounterStore } from "@/stores/counter";
const useCount = useCounterStore();
</script>
<template>
  <div>
    <div class="text-h6 mb-1">Second Component</div>
    <div class="text-caption">{{ useCount.doubleCount }}</div>
  </div>
</template>
